BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
BreakBeforeBraces: Allman
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignArrayOfStructures: Left
AlignEscapedNewlines: Right
AlignOperands: Align
AlwaysBreakAfterReturnType: AllDefinitions
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left